.sidebar.sidebar-fixed {
    background-color:#3CB371;
}

.btn-circle.btn-xl {
    width: 45px;
    height: 45px;
    padding: 11px 11px;
    border-radius: 60px;
    font-size: 15px;
    text-align: center;
    color: white;
}

.btn-add-event-container {
    padding-left: 44%;
    padding-top: 5px;
}